<HTML>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Agenda</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>

<BODY>
    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href={% url "Pasajero_list" %}>Pasajeros</a>
            <a class="navbar-brand" href={% url "Bus_list" %}>Buses</a>
            <a class="navbar-brand" href={% url "Chofer_list" %}>Choferes</a>
            <a class="navbar-brand" href={% url "Trayecto_list" %}>Trayectos</a>
            <a class="navbar-brand" href="{% url "create_boleto" %}">Crear boleto</a>
            <a class="navbar-brand" href="{% url "agenda" %}">Ver agenda</a>
            <a class="navbar-brand" href="{% url "incluye_add" %}">Asignar asiento</a>
        </div>
    </nav>
<script>
	var graph = {
    "monday": [
        {"name": "Augusto", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Augusto", "start_time": "09:30", "end_time": "11:00"},
        {"name": "Augusto", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Augusto", "start_time": "17:00", "end_time": "19:30"}
    ],
    "tuesday": [
        {"name": "Jorge", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Jorge", "start_time": "11:30", "end_time": "12:00"},
        {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Jorge", "start_time": "17:00", "end_time": "19:30"}
    ],
    "wednesday": [
        {"name": "Sebastian", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Sebastian", "start_time": "10:30", "end_time": "12:00"},
        {"name": "Sebastian", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Sebastian", "start_time": "17:00", "end_time": "19:30"}
    ],
    "thursday": [
        {"name": "Abdel", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Abdel", "start_time": "09:30", "end_time": "12:00"},
        {"name": "Abdel", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Abdel", "start_time": "17:00", "end_time": "19:30"}
    ],
    "friday": [
        {"name": "Aaron", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Aaron", "start_time": "09:30", "end_time": "12:00"},
        {"name": "Aaron", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Aaron", "start_time": "17:00", "end_time": "19:30"}
    ]
}

function myFunction(agenda) {

    for (dia in agenda){
            document.writeln("<h1>"+dia+"</h1>");
            str1="graph."+dia+".length"
            st2= "graph."+dia+[i]
            for ( var i = 0; i < eval(str1); i++) {
                str2= "graph."+dia+"["+i+"]"
                var obj =eval(str2);
                var name;
                var value;
        
        
                for ( var key in obj) {
                    name = key;
                    value = obj[key].toString();
                    +document.writeln("<B>" + name
                            + ":  </B>" + value
                            );
                    
        
                }
            document.writeln("</br>");
            }

            }
 


    }
	
	document.writeln("<br><br><div  width: 960px  align='center'>");
    
    
    myFunction(graph)
    
	
    document.writeln("</div>");
</script>
 
</BODY>
</HTML>