
<script>
var fechas = {
    "monday": [
        {"name": "Augusto", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Augusto", "start_time": "09:30", "end_time": "11:00"},
        {"name": "Augusto", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Augusto", "start_time": "17:00", "end_time": "19:30"}
    ],
    "tuesday": [
        {"name": "Jorge", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Jorge", "start_time": "11:30", "end_time": "12:00"},
        {"name": "Jorge", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Jorge", "start_time": "17:00", "end_time": "19:30"}
    ],
    "wednesday": [
        {"name": "Sebastian", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Sebastian", "start_time": "10:30", "end_time": "12:00"},
        {"name": "Sebastian", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Sebastian", "start_time": "17:00", "end_time": "19:30"}
    ],
    "thursday": [
        {"name": "Abdel", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Abdel", "start_time": "09:30", "end_time": "12:00"},
        {"name": "Abdel", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Abdel", "start_time": "17:00", "end_time": "19:30"}
    ],
    "friday": [
        {"name": "Aaron", "start_time": "08:00", "end_time": "09:00"},
        {"name": "Aaron", "start_time": "09:30", "end_time": "12:00"},
        {"name": "Aaron", "start_time": "15:00", "end_time": "16:00"},
        {"name": "Aaron", "start_time": "17:00", "end_time": "19:30"}
    ]
}
var obj = JSON.parse(fechas);
</script>

<p id="demo"></p> 

<script>
document.getElementById("demo").innerHTML = obj; 
</script>


