!
<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
        <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="pasajero">Pasajeros</a>
                    <a class="navbar-brand" href="buses">Buses</a>
                    <a class="navbar-brand" href="choferes">Choferes</a>
                    <a class="navbar-brand" href="trayectos">Trayectos</a>
                    <a class="navbar-brand" href="{% url "create_boleto" %}">Crear boleto</a>

                </div>
            </nav>
    <h1>Buses</h1>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for Bus in object_list %}
            <tr>
                <td>{{ Bus.id }}</td>
                <td><a href="{% url "Bus_view" Bus.id %}">view</a></td>
                <td><a href="{% url "Bus_edit" Bus.id %}">edit</a></td>
                <td><a href="{% url "Bus_delete" Bus.id %}">delete</a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url "Bus_add" %}" class="btn btn-primary btn-lg " role="button">Nuevo</a>
</body>

</html>