!
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">


</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="{% url "Pasajero_list" %}">Pasajeros</a>
            <a class="navbar-brand" href="{% url "Bus_list" %}">Buses</a>
            <a class="navbar-brand" href="{% url "Chofer_list" %}">Choferes</a>
            <a class="navbar-brand" href="{% url "Trayecto_list" %}">Trayectos</a>
        </div>
    </nav>

    <h1>Chofer Details</h1>
    <h2>id: {{object.id}}</h2>
    nombre: {{ object.nombre }}
</body>

</html>