<html>
<head>
    <meta charset="utf-8">
    <title>Crud Destacame</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    <div id="header">
        
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="pasajero">Pasajeros</a>
                    <a class="navbar-brand" href="buses">Buses</a>
                    <a class="navbar-brand" href="choferes">Choferes</a>
                    <a class="navbar-brand" href="trayectos">Trayectos</a>
                    <a class="navbar-brand" href="{% url "create_boleto" %}">Crear boleto</a>
                    <a class="navbar-brand" href="{% url "agenda" %}">Ver agenda</a>
                </div>
            </nav>
        
    </div>
    <div class="container">
        
    </div>
 
    <footer class="footer">
    </footer>
</body>
</html>