<h1>Pasajeros</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for Pasajero in object_list %}
    <tr>
    <td>{{ Pasajero.nombre }}</td>
    <td><a href="{% url "Pasajero_view" Pasajero.id %}">view</a></td>
    <td><a href="{% url "Pasajero_edit" Pasajero.id %}">edit</a></td>
    <td><a href="{% url "Pasajero_delete" Pasajero.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "Pasajero_new" %}">New</a>