<!DOCTYPE html>
<html>

<head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href={% url "Pasajero_list" %}>Pasajeros</a>
                    <a class="navbar-brand" href={% url "Bus_list" %}>Buses</a>
                    <a class="navbar-brand" href={% url "Chofer_list" %}>Choferes</a>
                    <a class="navbar-brand" href={% url "Trayecto_list" %}>Trayectos</a>
                    <a class="navbar-brand" href="{% url "create_boleto" %}">Crear boleto</a>
                    <a class="navbar-brand" href="{% url "agenda" %}">Ver agenda</a>
                    <a class="navbar-brand" href="{% url "incluye_add" %}">Asignar asiento</a>
                </div>
            </nav>
    <h1>Trayectos</h1>


    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">View</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
                <th scope="col">Cantidad de pasajeros</th>
            </tr>
        </thead>
        <tbody>
            {% for Trayecto in boletos %}
            <tr>
                <td>{{ Trayecto.id }}</td>
                <td><a href="{% url "Trayecto_view" Trayecto.id %}">view</a></td>
                <td><a href="{% url "Trayecto_edit" Trayecto.id %}">edit</a></td>
                <td><a href="{% url "Trayecto_delete" Trayecto.id %}">delete</a></td>
                <td><p> {{  Trayecto.num_boletos }}</p></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    <a href="{% url "Trayecto_add" %}" class="btn btn-primary btn-lg " role="button">Nuevo</a>
</body>

</html>